<div class="d-flex align-items-center">
  <h1>List作成</h1>
  <div class="ml-auto boards__linkBox">
    <a href='/' class="btn btn-outline-dark">名簿一覧</a>
  </div>
</div>
<%= form_for(board, {action: boardsPath({id: board.ID}), method: "PUT"}) { %>
<div class="row">
  <div class="col-md-6">
    <%= f.InputTag("FamilyName") %>
  </div>
  <div class="col-md-12">
    <%= f.InputTag("FirstName") %>
  </div>
  <div class="col-md-12">
    <%= f.TextArea("Memo", {rows: 10}) %>
  </div>
  <button class="btn btn-success" role="submit">update</button>
</div>
<% } %>