<div class="d-flex align-items-center">
  <h1>名前一覧</h1>
  <div class="ml-auto boards__linkBox">
    <a href='/boards/new' class="btn btn-outline-dark">新規作成</a>
  </div>
</div>
<table class="table table-hover boards__table table-striped">
  <thead class="thead-dark">
    <tr id="memo">
      <th id="id" style='display:none;'>ID</th>
      <th id="family">Family Name</th>
      <th id="first">First Name</th>
      <th id="first">Button</th>
    </tr>
  </thead>
  <tbody>
    <%= for (board) in (boards) { %>
    <tr class="profile">
      <th class='id' style='display:none;'><%= board.ID %></th>
      <th class='family'><%= board.FamilyName %></th>
      <th class='first'><%= board.FirstName %></th>
      <th style="display: flex;">
        <%= form({action: boardPath({id: board.ID}), method: "GET"}) { %>
        <button class="btn btn-success btn-sm edit-button">Edit</button>
        <% } %>
        <%= form({action: boardPath({id: board.ID}), method: "DELETE"}) { %>
        <button class="btn btn-danger btn-sm delete-button" onClick="return Check()">Delete</button>
        <% } %>
      </th>
    </tr>
    <% } %>
  </tbody>
</table>