<div class="d-flex align-items-center">
  <h1>名前一覧</h1>
  <div class="ml-auto boards__linkBox">
    <a href='/boards/new' class="btn btn-outline-dark">新規作成</a>
  </div>
</div>
<table class="table table-hover boards__table">
  <thead class="thead-dark">
    <tr id="memo">
      <th>ID</th>
      <th>Family Name</th>
      <th>First Name</th>
    </tr>
  </thead>
  <tbody>
    <%= for (board) in (boards) { %>
    <tr>
      <th><%= board.ID %></th>
      <th><%= board.FamilyName %></th>
      <th><%= board.FirstName %></th>
    </tr>
    <% } %>
  </tbody>
</table>